h1
{
    position: absoulte;
    right: 50%;
    top: 20vw;
    text-align: center;
    color: white;
}
p
{
    position: absoulte;
    left: 50%;
    top: 20vw;
    text-align: center;
    color: white;
}
.TopBorder
{
    background-color: darkgrey;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}
.Body
{
    background-color: black;
    width: 100%;
    height: auto;
    position: absolute;
    left: 0%;
}
.HeaderButton
{
    background-color: transparent;
    color: black;
    border: none;
    padding: 0vw 1.5vw;
    font-size: 1.5vw;
}
.HeaderButton:hover
{
    background-color:darkslategray;
    color: white;
}
.HeaderButtonSelected
{
    background-color: black;
    color: white;
    padding: 0vw 1.5vw;
    font-size: 1.5vw;
}